.Container{
    height: 100%;
    width: 100%;
    position: relative;
}

.Content{
    height: 20%;
    width: 23%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    
}