.Container {
    height: 50%;
    width: 100%;
}

.Name {
    margin: auto;
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 10px;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

@media (max-aspect-ratio: 7/5){
    .Name{
        font-size: 2vw;
        letter-spacing: 5px;
    }
}

@media (max-aspect-ratio: 1/1){
    .Name{
        font-size: 3vw;
        letter-spacing: 3px;
    }
}

@media (max-aspect-ratio: 4/7){
    .Name{
        font-size: 4vw;
    }
}